:root { 
--gray_50_01:#f4f7ff; 
--black_900_b2:#000000b2; 
--blue_gray_50:#edf2f7; 
--blue_A100:#8fb3f8; 
--blue_A200:#4584ff; 
--black_900_3f:#0000003f; 
--gray_50:#fafafa; 
--black_900_42:#00000042; 
--black_900_23:#00000023; 
--black_900:#000000; 
--deep_orange_200_01:#f8b590; 
--black_900_84:#00000084; 
--blue_gray_700:#525252; 
--deep_orange_200:#f8b58f; 
--blue_gray_900:#2d2b2b; 
--red_A700:#ff0000; 
--gray_600:#757474; 
--gray_700:#545454; 
--blue_gray_100:#d9d9d9; 
--amber_400:#fcc21b; 
--blue_gray_400:#8d8d8d; 
--blue_800:#1f78a9; 
--amber_500:#ffc107; 
--gray_800:#454343; 
--blue_gray_600:#4b876a; 
--red_A200:#ff4f4f; 
--gray_900:#1e1e1e; 
--gray_200:#eeeeee; 
--gray_300:#dfdfdf; 
--blue_50:#e4edff; 
--gray_100:#f7f7f7; 
--cyan_300:#40c0e7; 
--gray_100_02:#f7f2f2; 
--black_900_99:#00000099; 
--black_900_33:#00000033; 
--indigo_A700:#0f3cde; 
--black_900_72:#00000072; 
--gray_100_01:#f5f5f5; 
--black_900_30:#00000030; 
--white_A700_bc:#ffffffbc; 
--indigo_900:#0c2991; 
--black_900_19:#00000019; 
--gray_700_02:#5f5f5f; 
--white_A700:#ffffff; 
--gray_700_01:#555353; 
}